<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>626203932229-84sjloned1r5bqgdrnopore7m6n9b0cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626203932229-84sjloned1r5bqgdrnopore7m6n9b0cb</string>
	<key>API_KEY</key>
	<string>AIzaSyC-Po7Deq18cabYmRR51aRXk-2OSRcFTyk</string>
	<key>GCM_SENDER_ID</key>
	<string>626203932229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlleyneVentures.MarketMakerPro</string>
	<key>PROJECT_ID</key>
	<string>marketmakerpro-47754</string>
	<key>STORAGE_BUCKET</key>
	<string>marketmakerpro-47754.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626203932229:ios:9f9ac5499a914977</string>
	<key>DATABASE_URL</key>
	<string>https://marketmakerpro-47754.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7563192023707820~5820798002</string>
</dict>
</plist>